/* .registercolumn{
display: flex;
gap:20px;

}
.registercontainer .registercolumn .image{
    height:500px;
    width:auto;
}
.registercontainer .registercolumn .image img{
    height:100%;
    width:100%;
} */
.register-btn, .login-btn{
    background-color: #9155FD!important;
    border-radius:20px !important;
    width:100%;
}
.link-url{
    color: #9155FD!important; margin-left: 5px;;
}