/* .registercolumn{
display: flex;
gap:20px;

}
.registercontainer .registercolumn .image{
    height:500px;
    width:auto;
}
.registercontainer .registercolumn .image img{
    height:100%;
    width:100%;
} */