/* .navbar{
    background-color:#000000;
}

.nav-tabs{
    color:#ffffff;
}
.company-stores{
    display:none;
} */

.sign-in-button{
    background-color: #9155fd important;
    border-radius:20px !important;
}